.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    .form-container{
        background-color: $header;
        width: 50%;
        height: max-content;
        border-radius: 10px;
        overflow: hidden;
        color:black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .text{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: white;
            font-size: 1.2rem;
            text-align: center;
            padding: 10px;
        }
        .form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: 2px solid $main;
            .input-title{
                margin: 10px 0px;
                font-size: 1.2rem;
            }
            #email, #name{
                background-color: $main;
                border:none;
                border-radius: 10px;
                width: 80%;
                height: 2rem;
                margin: 0px 0px 10px;
                padding: 5px 5px;
            }
            #email:focus-visible, #name:focus-visible, #message:focus-visible{
                outline: 0px;
            }
            #message{
                background-color: $main;
                border:none;
                border-radius: 10px;
                width: 80%;
                height: 6rem;
                margin: 0px 0px 10px;
                padding: 5px 5px;
                resize: none;
                overflow:auto;
            }
            #btn{
                background-color: #109010;
                border:none;
                border-radius: 10px;
                width: 80%;
                height: 2rem;
                margin: 10px 0px;
                font-size: 1.5rem;
            }
            #btn:hover{
                background-color: #1ee81e;
                transition: .3s;
            }
            input:-webkit-autofill {
                background-color: $main !important;
            }
            #name, #email, #message{
                font-family: 'Oswald', sans-serif;
                font-size: 1rem;
            }
        }
    }
}