*{
    font-family: 'Quantico', sans-serif;
    color: $text;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    color: var(--text);
}
@media (max-width: 768px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.8rem;
    }
    p{
        font-size: 2rem;
    }
}