*, *::after, *::before{
    box-sizing: inherit;
}
*{
    /*general reset*/
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 16px; /*1rem == 10px*/
    background: linear-gradient(to bottom right, $header, $main, $text);
    height: max-content;
}
@import "font";