.main{
    z-index: 2;
    width: 100%;
    height: calc(100vh - 80px - 1.2rem);
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .console-container {
        font-size:2rem;
        text-align:center;
        height: 50px;
        width:400px;
        color:white;
      }
    .float-avatar{
        width: 200px;
        height: 300px;
        display: flex;
        align-items: end;
        margin-bottom: 50px;
        z-index: 1 !important;
        .avatar{
            width: 200px;
            border: black solid 5px;
            border-radius: 50%;
            animation-name: avatar-animation;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            position: relative;
        }
        .shadow{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
        }
        @keyframes avatar-animation {
            0%{
                bottom: 0;
                left: 0;
            }
            50%{
                bottom: 30px;
                left: 0;
            }
            100%{
                bottom: 0;
                left: 0;
            }
        }
        .shadow::before{
            content: '';
            position: absolute;
            bottom: -20px;
            left: 5%;
            width: 90%;
            height: 20px;
            background: rgba(0,0,0,0.8);
            border-radius: 50%;
            z-index: 2;
            filter: blur(10px);
            animation-name: shadow-avatar;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes shadow-avatar{
            0%{
                bottom: -20px;
                left: 5%;
                width: 90%;
                height: 20px;
                background: rgba(0,0,0,0.8);
            }
            50%{
                bottom: -20px;
                left: 10%;
                width: 80%;
                height: 20px;
                background: rgba(0,0,0,0.5);
            }
            100%{
                bottom: -20px;
                left: 5%;
                width: 90%;
                height: 20px;
                background: rgba(0,0,0,0.8);
            }
        }
    }
}
