.main{
    z-index: 2;
    width: 100%;
    height: calc(100vh - 80px - 1rem);
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        width: 450px;
        overflow: hidden;
        text-align: center;
    }
    .container .text{
        position: relative;
        color: #fff;
        font-size: 30px;
    }
    .container .text.first-text{
        color: $header;
    }
    .text.sec-text:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $main;
        border-left: 2px solid $header;
        animation: animate 5s steps(15) infinite;
    }
    @keyframes animate{
        40%, 60%{
            left: calc(100% + 4px);
        }
        100%{
            left: 0%;
        }
    }
    .float-avatar{
        width: 200px;
        height: 300px;
        display: flex;
        align-items: end;
        margin-bottom: 50px;
        .avatar{
            width: 200px;
            border: black solid 5px;
            border-radius: 50%;
            animation-name: avatar-animation;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            position: relative;
        }
        @keyframes avatar-animation {
            0%{
                bottom: 0;
                left: 0;
            }
            50%{
                bottom: 50px;
                left: 0;
            }
            100%{
                bottom: 0;
                left: 0;
            }
        }
    }
}
