*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    color: white;
}
body{
    @import "variables";
    overflow: hidden;
    @import "header";
    @import "main";
    @import "footer";
}
