/*Root variables*/
/*Globals*/
*, *::after, *::before {
  box-sizing: inherit;
}

* {
  /*general reset*/
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 16px; /*1rem == 10px*/
  background: linear-gradient(to bottom right, #1b1b1b, #333333, #eee);
  height: -moz-max-content;
  height: max-content;
}

* {
  font-family: "Quantico", sans-serif;
  color: #eee;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 2rem;
  }
}
/*Header*/
.header {
  width: 100%;
  z-index: 2;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  padding: 0;
  z-index: 3;
}
.header .nav-bar {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #1b1b1b;
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .nav-bar .img-logo {
  width: 7rem;
  margin: 1rem 3rem;
  border: black solid 0.2rem;
  border-radius: 50%;
}
.header .nav-bar .list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .nav-bar .nav-item {
  list-style: none;
  width: -moz-max-content;
  width: max-content;
}
.header .nav-bar .nav-link {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  padding: 1rem 2rem;
}
.header .nav-bar .nav-link span {
  position: absolute;
  background: #fff;
  transition: 0.5s;
}
.header .nav-bar .nav-link span:nth-child(1) {
  width: 100%;
  height: 0.1rem;
  top: 0;
  left: -100%;
}
.header .nav-bar .nav-link span:nth-child(2) {
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  right: -100%;
}
.header .nav-bar .nav-link span:nth-child(3) {
  width: 0.1rem;
  height: 100%;
  bottom: -100%;
  left: 0;
}
.header .nav-bar .nav-link span:nth-child(4) {
  width: 0.1rem;
  height: 100%;
  top: -100%;
  right: 0;
}
.header .nav-bar .nav-link:hover span:nth-child(1) {
  left: 0;
}
.header .nav-bar .nav-link:hover span:nth-child(2) {
  right: 0;
}
.header .nav-bar .nav-link:hover span:nth-child(3) {
  bottom: 0;
}
.header .nav-bar .nav-link:hover span:nth-child(4) {
  top: 0;
}
.header .nav-bar .nav-item {
  margin: 0px 20px;
}

/*Header mediaqueries*/
@media (max-width: 912px) {
  .header {
    flex-direction: column;
  }
  .header .nav-bar {
    flex-direction: column;
  }
  .header .nav-bar .nav-item {
    margin: 0 2rem;
  }
  .header .nav-bar .nav-link {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }
}
@media (max-width: 912px) and (max-width: 768px) {
  .nav-bar .list {
    flex-direction: column;
  }
  .nav-bar .nav-link {
    padding: 0.5rem 1rem;
  }
  .nav-bar .nav-item {
    margin: 0px 20px;
  }
}
/*Main*/
.main-container {
  display: block;
  width: 100%;
}

.width-content {
  width: 80%;
  border: 0.3rem solid #eee;
  margin: 10rem auto;
  border-radius: 5rem;
  background-color: #333333;
  box-shadow: 20px 20px 39px 1px rgba(0, 0, 0, 0.84);
}

.home {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 30rem;
  border-radius: 50%;
  margin: 5rem;
  border: 0.3rem solid #eee;
  box-shadow: 0px 87px 86px -13px rgba(0, 0, 0, 0.75);
}

.home-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-home {
  font-size: 8rem;
}

.subtitle-home {
  font-size: 3rem;
}

/*Home mediaqueries*/
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
  }
  .img-container {
    width: 100%;
    margin-bottom: 5rem;
  }
  .img-container img {
    width: 20rem;
  }
  .home-text {
    width: 100%;
  }
  .title-home {
    font-size: 6rem;
    text-align: center;
  }
  .subtitle-home {
    font-size: 2rem;
    text-align: center;
  }
}
/*About me section*/
.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
}

.am-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.am-title, .am-p {
  width: 90%;
}

.am-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.am-p {
  font-size: 2rem;
  text-align: justify;
}

.img-am {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-am img {
  width: 25rem;
}

/*About me mediaqueries*/
@media (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  .am-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
  .am-title, .am-p {
    width: 100%;
  }
  .am-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .am-p {
    font-size: 1.8rem;
    text-align: justify;
  }
  .img-am {
    display: none;
  }
}
/*Portfolio*/
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;
}

.portfolio-title h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.projects-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin-bottom: 5rem;
  align-content: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-size: 2vw;
}

.img-project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-project img {
  width: 100%;
  margin: 0 auto;
  border: 0.3rem solid #eee;
  border-radius: 0.5rem;
}

/*Portfolio mediaqueries*/
@media (max-width: 768px) {
  .portfolio-title h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-title {
    white-space: nowrap !important;
  }
  .img-project img {
    width: 100%;
  }
}
@media (max-width: 512px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project-title {
    font-size: 2rem;
  }
}
/*Form section*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 5rem;
}
.contact .form-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.contact .form-container {
  background-color: #1b1b1b;
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact .form-container .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}
.contact .form-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.3rem solid #eee;
}
.contact .form-container .form .input-title {
  margin: 10px 0px;
  font-size: 1.8rem;
}
.contact .form-container .form #email, .contact .form-container .form #name {
  background-color: #333333;
  border: none;
  border-radius: 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: -moz-max-content;
  height: max-content;
}
.contact .form-container .form #email:focus-visible, .contact .form-container .form #name:focus-visible, .contact .form-container .form #message:focus-visible {
  outline: 0px;
}
.contact .form-container .form #message {
  background-color: #333333;
  border: none;
  border-radius: 0.5rem;
  width: 80%;
  height: 8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  resize: none;
  overflow: auto;
}
.contact .form-container .form #btn {
  background-color: #109010;
  border: none;
  border-radius: 0.5rem;
  width: 30%;
  height: 4rem;
  margin: 1rem 0;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .contact .form-container .form #btn {
    background-color: #109010;
    border: none;
    border-radius: 0.5rem;
    width: 80%;
    height: 4rem;
    margin: 1rem 0;
    font-size: 1.8rem;
  }
}
.contact .form-container .form #btn:hover {
  background-color: #1ee81e;
  transition: 0.3s;
}
.contact .form-container .form input:-webkit-autofill {
  background-color: #333333 !important;
}
.contact .form-container .form #name, .contact .form-container .form #email, .contact .form-container .form #message {
  font-size: 1.8rem;
  padding: 0.5rem;
}

/*Footer*/
.footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: #1b1b1b;
}
.footer .footer-text {
  text-align: center;
  color: #333333;
  font-size: 2rem;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */