* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  color: white;
}

body {
  overflow: hidden;
  max-height: 100vh;
}
body .header {
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  padding: 0;
  z-index: 3;
}
body .header .navbar {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #1b1b1b;
  z-index: 4;
}
body .header .navbar #nav-icon-fa {
  color: white;
  font-size: 2rem;
}
body .header .navbar .navbar-toggler {
  border: none;
  margin: auto 30px;
}
body .header .navbar .navbar-collapse {
  flex-grow: 0;
}
body .header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
body .header .navbar .collapse {
  background-color: #1b1b1b;
}
body .header .navbar .img-logo {
  width: 70px;
  margin: auto 30px;
  border: black solid 2px;
  border-radius: 50%;
}
body .header .navbar .nav-link {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 10px;
  margin: 5px 5px;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
}
body .header .navbar .nav-link span {
  position: absolute;
  background: #fff;
  transition: 0.5s;
}
body .header .navbar .nav-link span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: -100%;
}
body .header .navbar .nav-link span:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%;
}
body .header .navbar .nav-link span:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
body .header .navbar .nav-link span:nth-child(4) {
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0;
}
body .header .navbar .nav-link:hover span:nth-child(1) {
  left: 0;
}
body .header .navbar .nav-link:hover span:nth-child(2) {
  right: 0;
}
body .header .navbar .nav-link:hover span:nth-child(3) {
  bottom: 0;
}
body .header .navbar .nav-link:hover span:nth-child(4) {
  top: 0;
}
body .header .navbar .nav-item {
  margin: 0px 20px;
}
@media (max-width: 991px) {
  body .header .navbar-nav {
    height: calc(100vh - 80px - 1.2rem);
    justify-content: space-evenly;
  }
}
body .main {
  z-index: 2;
  width: 100%;
  height: calc(100vh - 80px - 1.2rem);
  background-color: #333333;
  background: linear-gradient(130deg, rgb(106, 106, 106), #333333, #1b1b1b);
  background-size: 200% 200%;
  animation: cambiar 10s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .main .console-container {
  font-size: 2rem;
  text-align: center;
  height: 200px;
  width: 400;
  display: block;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .main .console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
body .main .float-avatar {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: end;
  margin-bottom: 50px;
  z-index: 1 !important;
}
body .main .float-avatar .avatar {
  width: 200px;
  border: black solid 5px;
  border-radius: 50%;
  animation-name: avatar-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
}
body .main .float-avatar .shadow {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}
@keyframes avatar-animation {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 30px;
    left: 0;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
body .main .float-avatar .shadow::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  z-index: 2;
  filter: blur(10px);
  animation-name: shadow-avatar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes shadow-avatar {
  0% {
    bottom: -20px;
    left: 5%;
    width: 90%;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
  }
  50% {
    bottom: -20px;
    left: 10%;
    width: 80%;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: -20px;
    left: 5%;
    width: 90%;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 992px) {
  body .main .float-avatar {
    width: 150px;
    height: 250px;
    display: flex;
    align-items: end;
    margin-bottom: 0px;
    z-index: 1 !important;
  }
  body .main .float-avatar .avatar {
    width: 150px;
    border: black solid 3px;
    border-radius: 50%;
    animation-name: avatar-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
  }
  body .main .float-avatar .shadow {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
  }
  @keyframes avatar-animation {
    0% {
      bottom: 0;
      left: 0;
    }
    50% {
      bottom: 30px;
      left: 0;
    }
    100% {
      bottom: 0;
      left: 0;
    }
  }
  body .main .float-avatar .shadow::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 5%;
    width: 90%;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    z-index: 2;
    filter: blur(10px);
    animation-name: shadow-avatar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes shadow-avatar {
    0% {
      bottom: -20px;
      left: 5%;
      width: 90%;
      height: 20px;
      background: rgba(0, 0, 0, 0.8);
    }
    50% {
      bottom: -20px;
      left: 10%;
      width: 80%;
      height: 20px;
      background: rgba(0, 0, 0, 0.5);
    }
    100% {
      bottom: -20px;
      left: 5%;
      width: 90%;
      height: 20px;
      background: rgba(0, 0, 0, 0.8);
    }
  }
}
@keyframes cambiar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body .about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body .about-me .about-me-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .about-me .about-me-text .text-box {
  width: 500px;
  height: -moz-max-content;
  height: max-content;
}
body .about-me .about-me-text .text-box .about-me-description {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0px 0px 50px;
}
body .about-me .about-me-text .github-refference {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .about-me .about-me-text .github-refference .github-text {
  font-size: 1.5rem;
  margin: 0px 20px 0px 0px;
}
body .about-me .about-me-text .github-refference .github-img .github-link .fa-brands.fa-github::before {
  font-size: 2rem;
}
body .about-me .about-me-avatar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
body .about-me .about-me-avatar .fullbody-avatar {
  width: 250px;
  position: relative;
  animation-name: deslizar;
  animation-duration: 3s;
}
@keyframes deslizar {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}
body .about-me .am-avatar {
  display: none;
}
@media (max-width: 992px) {
  body .about-me {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  body .about-me .about-me-text {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  body .about-me .about-me-text .text-box {
    width: -moz-max-content;
    width: max-content;
    max-width: 80%;
    height: -moz-max-content;
    height: max-content;
  }
  body .about-me .about-me-text .text-box .about-me-description {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0px 0px 20px;
  }
  body .about-me .about-me-text .github-refference {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .about-me .about-me-text .github-refference .github-text {
    font-size: 1.2rem;
    margin: 0px 10px 0px 0px;
  }
  body .about-me .about-me-text .github-refference .github-img .github-link .fa-brands.fa-github::before {
    font-size: 1rem;
  }
  body .about-me .about-me-avatar {
    display: none;
  }
  body .about-me .am-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .portfolio .beketo, body .portfolio .creador-contrasenas {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body .portfolio .beketo .img-beketo {
  width: 500px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  border: 2px solid black;
  overflow: hidden;
  margin: 0px 25px;
  position: relative;
  animation-name: aparecer;
  animation-duration: 3s;
}
body .portfolio .beketo .img-beketo .minatura {
  width: 100%;
}
body .portfolio .beketo .text-beketo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
}
body .portfolio .beketo .text-beketo .titulo {
  text-align: center;
  font-size: 1.5rem;
}
body .portfolio .beketo .text-beketo .description {
  text-align: justify;
  font-size: 1.2rem;
}
body .portfolio .creador-contrasenas .img-creador {
  width: 500px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  border: 2px solid black;
  overflow: hidden;
  margin: 0px 25px;
  position: relative;
  animation-name: aparecer;
  animation-duration: 3s;
}
body .portfolio .creador-contrasenas .img-creador .minatura {
  width: 100%;
}
body .portfolio .creador-contrasenas .text-creador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: -moz-max-content;
  height: max-content;
}
body .portfolio .creador-contrasenas .text-creador .titulo {
  text-align: center;
  font-size: 1.5rem;
}
body .portfolio .creador-contrasenas .text-creador .description {
  text-align: justify;
  font-size: 1.2rem;
}
@keyframes aparecer {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}
@media (max-width: 992px) {
  body body {
    max-height: 100vh;
  }
  body .portfolio .beketo, body .portfolio .creador-contrasenas {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  body .portfolio .beketo .img-beketo {
    width: 200px;
    height: -moz-max-content;
    height: max-content;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    margin: 0px 0px 20px;
    position: relative;
    animation-name: aparecer-izq;
    animation-duration: 3s;
  }
  body .portfolio .beketo .img-beketo .minatura {
    width: 100%;
  }
  body .portfolio .beketo .text-beketo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .portfolio .beketo .text-beketo .titulo {
    text-align: center;
    font-size: 1.3rem;
  }
  body .portfolio .beketo .text-beketo .description {
    text-align: justify;
    font-size: 1rem;
  }
  body .portfolio .creador-contrasenas .img-creador {
    width: 200px;
    height: -moz-max-content;
    height: max-content;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    margin: 0px 0px 20px;
    position: relative;
    animation-name: aparecer-der;
    animation-duration: 3s;
  }
  body .portfolio .creador-contrasenas .img-creador .minatura {
    width: 100%;
  }
  body .portfolio .creador-contrasenas .text-creador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .portfolio .creador-contrasenas .text-creador .titulo {
    text-align: center;
    font-size: 1.3rem;
  }
  body .portfolio .creador-contrasenas .text-creador .description {
    text-align: justify;
    font-size: 1rem;
  }
  @keyframes aparecer-izq {
    0% {
      left: -500px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes aparecer-der {
    0% {
      right: -500px;
    }
    100% {
      right: 0px;
    }
  }
}
@media (max-width: 412px) {
  body .portfolio .beketo, body .portfolio .creador-contrasenas {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  body .portfolio .beketo .img-beketo {
    width: 150px;
    height: -moz-max-content;
    height: max-content;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    margin: 0px 0px 20px;
    position: relative;
    animation-name: aparecer-izq;
    animation-duration: 3s;
  }
  body .portfolio .beketo .img-beketo .minatura {
    width: 100%;
  }
  body .portfolio .beketo .text-beketo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .portfolio .beketo .text-beketo .titulo {
    text-align: center;
    font-size: 1.3rem;
  }
  body .portfolio .beketo .text-beketo .description {
    text-align: justify;
    font-size: 1rem;
  }
  body .portfolio .creador-contrasenas .img-creador {
    width: 150px;
    height: -moz-max-content;
    height: max-content;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    margin: 0px 0px 20px;
    position: relative;
    animation-name: aparecer-der;
    animation-duration: 3s;
  }
  body .portfolio .creador-contrasenas .img-creador .minatura {
    width: 100%;
  }
  body .portfolio .creador-contrasenas .text-creador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .portfolio .creador-contrasenas .text-creador .titulo {
    text-align: center;
    font-size: 1.3rem;
  }
  body .portfolio .creador-contrasenas .text-creador .description {
    text-align: justify;
    font-size: 1rem;
  }
  @keyframes aparecer-izq {
    0% {
      left: -500px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes aparecer-der {
    0% {
      right: -500px;
    }
    100% {
      right: 0px;
    }
  }
}
body .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
body .contact .form-container {
  background-color: #1b1b1b;
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .contact .form-container .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}
body .contact .form-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #333333;
}
body .contact .form-container .form .input-title {
  margin: 10px 0px;
  font-size: 1.2rem;
}
body .contact .form-container .form #email, body .contact .form-container .form #name {
  background-color: #333333;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 2rem;
  margin: 0px 0px 10px;
  padding: 5px 5px;
}
body .contact .form-container .form #email:focus-visible, body .contact .form-container .form #name:focus-visible, body .contact .form-container .form #message:focus-visible {
  outline: 0px;
}
body .contact .form-container .form #message {
  background-color: #333333;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 6rem;
  margin: 0px 0px 10px;
  padding: 5px 5px;
  resize: none;
  overflow: auto;
}
body .contact .form-container .form #btn {
  background-color: #109010;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 2rem;
  margin: 10px 0px;
  font-size: 1.5rem;
}
body .contact .form-container .form #btn:hover {
  background-color: #1ee81e;
  transition: 0.3s;
}
body .contact .form-container .form input:-webkit-autofill {
  background-color: #333333 !important;
}
body .contact .form-container .form #name, body .contact .form-container .form #email, body .contact .form-container .form #message {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}
body .footer {
  width: 100%;
  height: 1.2rem;
  z-index: 2;
  background-color: rgb(27, 27, 27);
}
body .footer .footer-text {
  text-align: center;
  font-size: 1rem;
  color: rgb(100, 100, 100);
}/*# sourceMappingURL=styles.css.map */